.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

.mynavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


ul{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;

}
